* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar-color {
    background: linear-gradient(to right, #ffa500 0%, #bf4ad4 50%, #2b67f3 90%);
}

.title-color {
    background: linear-gradient(to right, #2b67f3 0%, #bf4ad4 50%);
}

.title-clr{
    background-color: green;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sec .colour {
    /* min-height: 80vh; */
    position: absolute;
    filter: blur(150px);
}
  
.sec .colour:nth-child(1) {
    top: 0px;
    width: 50vw;
    height: 100vh;
    background: #bf4ad4;
}
  
.sec .colour:nth-child(2) {
    left: 100px;
    width: 20vw;
    height: 100vh;
    /* bottom: -150px; */
    background: #ffa500;
}
  
.sec .colour:nth-child(3) {
    right: 100px;
    bottom: 50px;
    width: 20vw;
    height: 100vh;
    background: #2b67f3;
}
  
.cont {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
  
.form {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: relative;
}
  
.form h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 40px;
}